p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}
.vedio_title{
font-size: 18px;
font-weight: bold;
width: 280px;
line-height: 24px;
 margin-bottom:5px ;
}
.vedio_stats {
  font-size: 14px;
  color: rgb(96, 96,96);
  margin-bottom: 20px;
}
.p3 {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}
.p4 {
  font-size: 14px;
  width: 280px;
  color: gray;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 100px;
 
}
.p5 {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(228, 65, 62);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.span_eg:hover {
  text-decoration: underline;
  cursor: pointer;
  

}


/* .subscribe_btn {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: opacity 0.15s;
}
.subscribe_btn:hover {
 opacity: 0.8;

}
.subscribe_btn:active {
  opacity: 0.5;
 
 }
.join_btn {
 background-color: white;
 border-color: rgb(6, 95, 212);
 border-style: solid;
 border-width: 1px;
 color: rgb(6, 95, 212); 
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 8px;
 padding-bottom: 8px;
 border-radius: 2px;
 cursor: pointer;
 transition:background-color 0.15s , color 0.15s;

}
.join_btn:hover {
  background-color: rgb(6, 95, 212);
  color: white;

}
.join_btn:active{
  opacity: 0.7;
}
.tweet_btn {
  background-color: rgb(29, 155, 240);
color: white;
border:none;
padding-right: 15px;
padding-left:  15px ;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 19px;
font-weight: bold;
cursor: pointer;
margin-left: 8px;
transition: box-shadow 0.15s;

}
.tweet_btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);

} */